<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>Reddit for Nonnas</title>
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	</head>
 	<div class="navbar-fixed">
    	<nav>
      		<div class="pink nav-wrapper">
        		<a href="/nonnas/" class="left brand-logo">Nonnas</a>
        		<ul class="right">
          		<li><a href="login">login</a></li>
          		<li><a href="/nonnas/register">register</a></li>
          		<li><a href="/nonnas/logout">logout</a></li>
        		</ul>
      		</div>
   		</nav>
  	</div>	
	<div class="container">
	<body>
		{% block content %}
		{% endblock %}
	</body>
	</div>
</html>

