<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>Reddit for Nonnas</title>
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	</head>
	<div class="container">
	<body>
		<a href="register/">register</a>
		{% for post in post_list %}
		<form action="" method="POST">
		{% csrf_token %}
			<div class="card">
				<button type="submit" name="post" id="post"  value="{{ post.id }}">↑</button>
				<a href="/nonnas/{{ post.id }}/"> {{ post.title }}: {{ post.votes }} votes</a>
			</div>
		</form>
		{% endfor %}
	</body>
	</div>
</html>
